body{
    padding: 0%;
    margin: 0%;
    font-family:'Times New Roman', Times, serif;
    color: rgba(50, 35, 21, 1);
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-height: 20vh;
}

main{
    width: 100%;
}

footer{
    width: 100%;
    height: 12vh;
    background-color: rgba(243, 242, 213, 1);
    display: flex;
    align-items: center;
    margin: 40px 0px 0px 0px;
}

li{
    list-style: none;
}


.init{
    height: 80%;
}

a{
    text-decoration: none;
    color: rgba(50, 35, 21, 1);
}

.container {
    min-height: calc(100vh - 336px);
}

.container-fluid{
    display: flex;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 380px;
}

.search {
    background-color: rgba(243, 242, 213, 1);
    color: black;
    border: none;
    border-radius: 25px;
    width: 260px;
    height: 46px;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.search form {
    display: flex;
    align-items: center;
}

.search input {
    border: none;
    border-radius: 25px;
    background-color: rgba(243, 242, 213, 1);
    margin: 5px 10px;
    width: 180px;
}

.search button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

h2{
    font-size: 2.5vw;
}

h2{
    width: 300px;
    font-size: 30px;
}

.login{
    display: flex;
    margin: 80px 0px;
    margin-left: 20%;
}

.login > a{
    display: flex;
    justify-content: center;
    color: rgba(245, 245, 245, 1);
    background-color: rgba(50, 35, 21, 1);
    margin: 5px;
    padding: 8px;
    border-radius: 10px;
    width: 10%;
}

.login > a:hover{
    opacity: 0.9;
}

section > img{
    width: 100%;
}

ul{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 5px;
    padding: 0%;
}

footer > nav > ul{
    justify-content: flex-start;
}

.a{
    border-radius: 15px;
    padding: 5px 4px;
    margin: 0 10px;
    font-size: 20px;
    height: 30%;
}

.a:hover{
    opacity: 0.8;
    color: white;
    background-color: rgba(50, 35, 21, 1);
}

nav{
    width: 100%;
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cacto{
    display: flex;
    align-items: center;
    background-color: rgba(243, 242, 213, 1);
    padding: 10px;
    width: 80%;
}

.user{
    display: flex;
    align-items: center;
    width: 40%;
    background-color: rgba(243, 242, 213, 1);
    border-radius: 20px;
    justify-content: space-around;
    margin: 0%;
}

.user > img{
    width: 20%;
}

.sair{
    color: red;
}

.sair:hover{
    opacity: 0.7;
}