h1{
    text-align: center;
    width: 100%;
}

.p1{
    background-color: rgba(243, 242, 213, 1);
}

p{
    width: 90%;
    margin: 2% 5%;
}

.p2{
    width: 50%;
}

.div{
    display: flex;
    width: 90%;
    margin: auto;
}