
{% extends 'base.html' %}
{% load static %}

{% block center %}

</head>
<body>

    <a href="{% url 'index' %}" class="btn btn-dark">Voltar</a>


    <main class="section">

        <h1 class="titulo">Caatinga</h1>

            <div class="text">
                <img src="{% static 'imagens/AC_Abertura_Bioma_Caatinga.jpg' %}" alt="" >
                <div>
                    <p>A Caatinga é um bioma exclusivamente brasileiro, com biodiversidade adaptada às altas temperaturas e à falta 
                        de água. Localizado na região Nordeste do Brasil, esse bioma ocupa uma área de 826.411km2 e apresenta uma 
                        flora e fauna rica em endemismo.
                    </p>
                    <p>
                        O nome “Caatinga” é de origem Tupi-Guarani e significa “mata branca”, o que caracteriza 
                        bem o aspecto da vegetação na estação seca, quando as folhas caem e apenas os troncos brancos e 
                        brilhosos das árvores e arbustos permanecem na paisagem seca.
                    </p>
                        A Árvore do Conhecimento do Bioma Caatinga reúne informações sobre as principais características 
                        de solo, clima, flora, fauna, recursos hídricos, manejo e uso sustentável deste ecossistema, 
                        acompanhado de referências que podem ser consultadas na íntegra. A informação pode ser obtida 
                        pela navegação numa estrutura ramificada em forma de árvore hiperbólica, por hipertexto ou pelo 
                        serviço de busca.
                    </p>
                </div>
            </div>
            <hr>

            <h1 class="titulo">Localização</h1>


            <div class="text">
                <img src="{% static 'imagens/mapa-bioma-caatinga.webp' %}" alt="">
                <div>
                    <p> A Caatinga localiza-se na Região Nordeste do Brasil e compreende os estados da Paraíba, 
                        Rio Grande do Norte, Piauí, Maranhão, Alagoas, Pernambuco, Sergipe e Bahia. Também ocorre 
                        em algumas faixas da Região Sudeste que ficam ao norte do estado de Minas Gerais.
                    </p>
                </div>
            </div>
            <hr>

            <h1 class="titulo">Características da Caatinga</h1>

            <div class="text">
                <img src="{% static 'imagens/abelha-caatinga.png' %}" alt="">
                <div>
                    <p>
                        A Caatinga desempenha um papel crucial na apicultura devido à sua rica diversidade de plantas e 
                        floração ao longo do ano, o que fornece alimento constante para as abelhas. Isso resulta na 
                        produção de mel de alta qualidade e contribui para a polinização de plantas nativas e culturas 
                        agrícolas. A apicultura na Caatinga também gera renda e empregos para comunidades locais, 
                        promovendo a conservação do bioma. No entanto, enfrenta desafios decorrentes da degradação 
                        ambiental e mudanças climáticas, exigindo práticas sustentáveis e preservação da Caatinga para 
                        manter essa relação benéfica.
                    </p>
                </div>
            </div>

    </main>
{% endblock %}