{% extends 'base.html' %}
{% load static %}

{% block center %}

<a href="{% url 'index' %}" class="btn btn-dark">Voltar</a>

    <main>
        <div class="center">
            <img src="{{ postagem.imagem.url }}" alt="" width="350px"  class="img-fluid">
            <table class="table table-dark table-striped">
                <tr>
                    <td>Nome ciêntifico:</td> 
                    <td>bla</td>
                </tr>

                <tr>
                    <td>Nome popular:</td> 
                    <td>{{ postagem.titulo }}</td>
                </tr>

                <tr>
                    <td>Familia:</td> 
                    <td>bla</td>
                </tr>

                <tr>
                    <td>Bioma(s):</td> 
                    <td>bla</td>
                </tr>

                <tr>
                    <td>Descrição:</td>
                    <td>Bla bla bla bla bla bla bla bla</td>
                </tr>
            </table>
                
        </div>

{% endblock %}