{% extends 'base.html' %}
{% load static %}

{% block center %}

<a href="{% url 'index' %}" class="btn btn-dark">Voltar</a>

    <main>
        <div class="center">
            <img src="{{ flor.imagem.url }}" alt="" width="350px"  class="img-fluid">
            <table class="table table-dark table-striped">
                <tr>
                    <td>Nome científico:</td> 
                    <td>{{ flor.nome_cientifico }}</td>
                </tr>

                <tr>
                    <td>Nome popular:</td> 
                    <td>{{ flor.nome_popular }}</td>
                </tr>

                <tr>
                    <td>Família:</td> 
                    <td>{{ flor.familia }}</td>
                </tr>

                <tr>
                    <td>Bioma:</td> 
                    <td>{{ flor.bioma }}</td>
                </tr>

                <tr>
                    <td>Descrição:</td>
                    <td>{{ flor.descricao }}</td>
                </tr>
            </table>
                
        </div>

{% endblock %}