{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/detalhe.css' %}">
{% endblock %}
{% block center %}

<a class="btn btn-dark" href="{% url 'listagem' %}">Voltar</a>

<main>
  <div class="card" style="width: 18rem;">
      <img src="{{ flor.imagem.url }}" class="card-img-top" alt="">
      <div class="card-body">
          <h5 class="card-title">{{ flor.nome_popular }}</h5>
          <p class="card-text">{{ flor.descricao }}</p>
      </div>
      <ul class="list-group list-group-flush">
          <li class="list-group-item">Nome científico: {{ flor.nome_cientifico }}</li>
          <li class="list-group-item">Nome popular: {{ flor.nome_popular }}</li>
          <li class="list-group-item">Família: {{ flor.familia }}</li>
          <li class="list-group-item">Bioma: {{ flor.bioma }}</li>
      </ul>
  </div>

  <section class="d-flex flex-column overflow-y-auto">
      <div class="flew-grow-1">
        {% for comentario in comentarios %}
        <div class="comentario border-bottom py-4">
            <div class="d-flex gap-2">
                <p class="flex-grow-1">{{ comentario.texto }}</p>
              {% if comentario.usuario == user %}
              <form method="post" action="{% url 'remover_comentario' flor.pk comentario.pk %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i></button>
              </form>   
              {% endif %}
            </div>
            <small class="text-muted">{{ comentario.usuario.username }} - {{ comentario.data_criacao }}</small>
        </div>
    {% endfor %}
      </div>
      {% if user.is_authenticated %}
          <form method="post" action="{% url 'adicionar_comentario' flor.pk %}" class="coment">
            {% csrf_token %}
            <div class="d-flex gap-2 w-100">
                <textarea id="id_texto" name="texto" class="w-100"></textarea>
                <button type="submit" class="btn btn-primary">Comentar</button>
            </div>
        </form>
      {% else %}
          <p>Faça login para adicionar um comentário.</p>
      {% endif %}
  </section>

</main>

{% endblock %}