{% extends 'base.html' %}
{% load static %}

{% block center %}

<main>
    <a href="{% url 'index' %}" class="btn btn-dark" style="max-height: 4.5vh;">Voltar</a>


    <div class="main">
        {% for flor in flor %}
        <div class="list">
            <div class="lista">
                <a href="{% url 'detalhe' pk=flor.id %}" class="link">
                    <img src="{{ flor.imagem.url }}" alt="" width="250px">
                    <h3>{{ flor.nome_popular }}</h3>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</main>


{% endblock %}