
{% extends 'base.html' %}
{% load static %}

{% block center %}

</head>
<body>

    <a href="{% url 'index' %}" class="btn btn-dark">Voltar</a>


    <main class="section">

        <h1 class="titulo">Flora Apícola</h1>

            <div class="text">
                <img src="{% static 'imagens/images.jpg' %}" alt="" >
                <div>
                    <p>A flora apícola se refere ao conjunto de plantas que fornecem recursos, como néctar e pólen, para as abelhas. Essas plantas desempenham um papel essencial na produção de mel, na polinização de culturas agrícolas e na manutenção das populações de abelhas. 
                    </p>
                    <p>
                      A composição da flora apícola varia de acordo com a região geográfica e o clima, e inclui uma ampla variedade de flores, árvores e arbustos que atraem abelhas em busca de alimento.
                    
                </div>
            </div>
            <hr>


            <h1 class="titulo">Importância da Flora Apícola</h1>

            <div class="text">
                <img src="{% static 'imagens/abelha-caatinga.png' %}" alt="">
                <div>
                    <p>A importância da flora apícola é significativa e abrange vários aspectos:
                    <p> Produção de Mel: A flora apícola fornece néctar para as abelhas, que o transformam em mel. Isso é fundamental para a indústria apícola e a produção de mel, um alimento apreciado em todo o mundo.</p>
                    <p>Polinização: As abelhas, ao visitarem as flores em busca de néctar, realizam a polinização. Isso é crucial para o sucesso reprodutivo de muitas plantas, incluindo várias culturas agrícolas. A polinização das abelhas contribui para a produção de alimentos.</p> 
                    <p>Biodiversidade: A flora apícola apoia uma diversidade de espécies de abelhas e outros polinizadores. Isso contribui para a biodiversidade geral de ecossistemas, o que é fundamental para manter a estabilidade e a saúde dos ambientes naturais.</p>
                    <p>Conservação da Natureza: Ao proteger e preservar a flora apícola, estamos promovendo a conservação de habitats naturais, o que é vital para a sobrevivência de diversas espécies de plantas e animais.</p>    
                    </p>
                </div>
            </div>

    </main>
{% endblock %}