{% extends 'base.html' %}
{% load static %}

{% block center %}

<main id="form" style="height: 70vh;">
    <form action="">
        <div class="mb-3">
            <label for="nome_cientifico" class="form-label">Nome Científico</label>
            <input type="text" id="nome_cientifico" name="nome_cientifico" class="form-control">
        </div>
    
        <div class="mb-3">
            <label for="nome_popular" class="form-label">Nome Popular</label>
            <input type="text" id="nome_popular" name="nome_popular" class="form-control">
        </div>
    
        <div class="mb-3">
            <label for="familia" class="form-label">Família</label>
            <input type="text" id="familia" name="familia" class="form-control">
        </div>
    
        <div class="mb-3">
            <label for="biomas" class="form-label">Biomas</label>
            <select id="biomas" name="biomas" class="form-select">
                <option value="bioma1">Bioma 1</option>
                <option value="bioma2">Bioma 2</option>
                <option value="bioma3">Bioma 3</option>
            </select>
        </div>
    
        <div class="mb-3">
            <label for="descricao" class="form-label">Descrição</label>
            <textarea id="descricao" name="descricao" class="form-control" rows="4"></textarea>
        </div>
    </form>
</main>

{% endblock %}