{% extends 'base.html' %}
{% load static %}

{% block center %}

<main id="form">
    <form method="post" style="width: 50%; margin: auto;" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            <label for="{{ form.titulo.id_for_label }}">Título:</label>
            {{ form.titulo }}
        </div>

        <div class="form-group">
            <label for="{{ form.image.id_for_label }}">Imagem:</label>
            {{ form.image }}
        </div>

        <div class="form-group">
            <label for="{{ form.texto.id_for_label }}">Texto:</label>
            {{ form.texto }}
        </div>

        <button class="btn btn-primary" type="submit">Enviar</button>
    </form>
</main>

{% endblock %}