{% extends 'base.html' %}
{% load static %}
{% block center %}

<main>
    <a href="#" class="container-fluid">
        <div class="container-fluid post1">
            <img src="{% static 'imagens/transferir.jpg' %}" alt="" class="figure-img img-fluid rounded">
            
            <div class="container">
                <h3>Caatinga</h3>
                <p>O Bioma brasileiro que caracteriza o Semiárido Potiguar </p>
            </div>
        </div>
    </a>

    <hr>

    <a href="#" class="container-fluid">
        <div class="container-fluid post2">
            <img src="{% static 'imagens/images.jpg' %}" alt="imagem" class="figure-img img-fluid rounded">

            <div class="container">
                <h3>O que é a Flora Apícola?</h3>
                <p>Flora Apícola: Plantas que fornecem néctar e pólen para as abelhas.</p>
            </div>
        </div>
    </a>

    <hr>

    <a href="#" class="container-fluid">
        <div class="container-fluid post3">
            <img src="{% static 'imagens/fazenda-apicultura.jpg' %}" alt="imagem" class="figure-img img-fluid rounded">
            
            <div class="container">
                <h3>Flora no Rio Grande do Norte</h3>
                <p>O estado possui variedade de plantas adaptadas ao clima semiárido.</p>
            </div>
        </div>
    </a>
</main>

{% endblock %}