{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% block center %}

<main>
    <div class="init">
        <div class="container-fluid">
            <section>
                <h1>CATÁLOGO DA</h1>
                <h1 class="flora">FLORA APÍCOLA</h1>
                <h1>NO SEMIÁRIDO POTIGUAR</h1>
                <p>Um catálogo que reúne em um único lugar as plantas que compõem a Flora Apícola da região 
                    semiárida do Rio Gande do Norte.</p>
            </section>

            <section>
                <img src="{% static 'imagens/Honey_Bee_Insect_Honeycomb_Beehive_PNG_-_Free_Download-removebg-preview.png' %}"  class="img" alt="">
            </section>

        </div>


        <div class="login">
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'create_user' %}">Cadastro</a>
        </div>
    </div>


    <div class="cacto">
        <img src="{% static 'imagens/Rectangle_65-removebg-preview.png' %}" alt="" class="img">
        <section>
            <h2>O catálogo <strong>DiversiFlora</strong> valoriza a Flora Potiguar</h2>
            <p>Acreditamos que a região semiárida é amplamente  rica no que concerne a variedade de 
                plantas que produzem pólen e nectar que serão utilizado pelas abelhas  para produção de mel.</p>
        </section>
    </div>

    <div class="aqui">
        <h2>Aqui você irá encontrar a diversidade de</h2>
        <h2>plantas que compõem a  flora apícola da nossa região</h2>
    </div>

    <div class="acess">
        <a class="acesso" href="{% url 'listagem' %}">Acessar Catalogo</a>
    </div>
</main>

{% endblock %}