{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina inicial</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block style %}{% endblock %}
    
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'imagens/abelha.png' %}" alt="logo" width="80px" class="figure-img img-fluid rounded">
            <h2>DiversiFlora</h2>
        </div>

        <ul class="ul-user">
            <li style="list-style: none;">
                {% if user.is_authenticated %}
                    <div class="user">
                        <img src="{% static 'imagens/imagem-user.png' %}" alt="">
                        <span>{{ user.username }}</span>
                        <a class="sair" href="{% url 'logout' %}">Sair</a>
                    </div>
                {% else %}
                    <div class="user">
                        <img src="{% static 'imagens/imagem-user.png' %}" alt="">
                        <span>Usuário</span>
                    </div>
                {% endif %}
    
            </li>
        </ul>

        <nav>
            <ul>
                <a class="a" href="{% url 'index' %}"><li class="nav-link active">Início</li></a>
                <a class="a" href="{% url 'listagem' %}"><li class="nav-link active">Catalogo</li></a>
                <a class="a" href="{% url 'flora' %}"><li class="nav-link active">Flora apícola</li></a>
                <a class="a" href="{% url 'sobre' %}"><li class="nav-link active">Sobre nós</li></a>
            </ul>
        </nav>

        <form method="get" action="{% url 'listagem' %}" class="search">
            <input class="form-control me-2" type="text" id="search" name="search_query" placeholder="Pesquisar" value="{{ search_form.search_query.value|default:'' }}">
            <button type="submit">
                <img src="{% static 'imagens/lupa.png' %}" alt="" width="26px" height="27">
            </button>
        </form> 


    </header>

{% block center %}
{% endblock %}
    
    <footer>
        <nav>
            <ul>
                <a class="a" href="{% url 'listagem' %}"><li>Catalogo</li></a>
                <a class="a" href="{% url 'flora' %}"><li>Flora Apícola</li></a>
                <a class="a" href="{% url 'sobre' %}"><li>Sobre nós</li></a>
            </ul>
        </nav>
    </footer>

</body>
</html>
